.root {
    background-color: var(--light-purple);

    border: none;
    border-radius: var(--border-radius);
    border: 2px solid var(--light-purple);
    outline: none;

    padding: 10px;

    transition: border 0.3s;

    color: var(--black);

    font-size: var(--text-font-size);

    min-width: 0;

    &:disabled {
        opacity: 0.4;
    }

    &:focus {
        border: 2px solid var(--black);
    }
}
