.root {
    border: none;
    border-radius: var(--border-radius);

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    transition:
        background-color 0.3s,
        opacity 0.3s;

    &:disabled {
        cursor: default;

        opacity: 0.4;
    }

    &--purple {
        background-color: var(--dark-purple);
        color: var(--light-purple);

        &:active:not(:disabled) {
            background-color: var(--black);
        }
    }

    &--orange {
        background-color: var(--orange);
        color: var(--black);

        &:active:not(:disabled) {
            background-color: var(--light-purple);
        }
    }

    &--small {
        font-size: var(--small-text-font-size);

        height: 26px;

        padding: 0 10px;
    }

    &--big {
        font-size: var(--text-font-size);

        height: 48px;
        min-width: 48px;

        padding: 0 20px;
    }
}
