$heading-height: 70px;

.root {
    width: 100vw;
    height: calc(100vh - $heading-height);

    background-color: var(--dark-purple);

    display: flex;
    flex-direction: column;
}

.header {
    position: relative;

    height: $heading-height;

    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--orange);

    h1 {
        color: var(--dark-purple);

        padding: 0 10px;
    }
}

.home {
    position: absolute;
    left: 10px;
    top: calc(50% - 18px);
}

.settings {
    position: absolute;
    right: 10px;
    top: calc(50% - 18px);
}

.messages {
    height: calc(100vh - $heading-height - 80px);
}

.input {
    padding: 10px;
}
