* {
    box-sizing: border-box;
}

body {
    padding: 0 !important;
    margin: 0 !important;
}

:root {
    --black: #000;
    --dark-purple: #575068;
    --orange: #f29a30;
    --light-purple: #e1d8ef;

    --border-radius: 24px;

    --text-font-size: 20px;
    --small-text-font-size: 14px;
}
