.root {
    width: 100vw;
    height: 100vh;

    background-color: var(--dark-purple);

    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 80vw;
    position: relative;

    h1 {
        color: var(--light-purple);
    }

    input {
        width: 100%;

        margin-bottom: 10px;
    }

    button {
        width: 100%;
    }
}

.home {
    position: absolute;

    bottom: calc(100% + 20px);

    left: 0;

    text-decoration: none;
}
