.root {
    width: 100vw;
    height: 100vh;

    background-color: var(--black);

    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 80vw;

    position: relative;

    h1 {
        color: var(--light-purple);
    }

    input {
        width: 100%;
    }

    button {
        width: 100%;

        margin-top: 20px;
    }
}

.home {
    position: absolute;

    bottom: calc(100% + 20px);
    left: 0;
}