.header {
    position: relative;

    height: 70px;

    background: var(--orange);

    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        color: var(--dark-purple);

    }
}

.home {
    position: absolute;
    top: calc(50% - 18px);
    left: 20px;
}

.root {
    width: 100vw;
    height: calc(100vh - 70px);

    background-color: var(--dark-purple);

    padding: 20px;
}

.list {
    
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 20px;

    h2 {
        color: var(--light-purple);
        margin: 0;
    }
}